<launch>

  <!-- 一次性测试：10 个货架各取一次，不补货，完成后打印统计 -->

  <include file="$(find warehouse_qmix)/launch/warehouse_multi_v2.launch"/>

  <node pkg="waterplus_map_tools" type="wp_manager" name="wp_manager"
        output="screen">
    <param name="load" value="/home/jasper/waypoints.xml"/>
  </node>

  <group ns="robot_0">
    <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server"
          output="screen">
      <remap from="waterplus/get_waypoint_name" to="/waterplus/get_waypoint_name"/>
    </node>
  </group>
  <group ns="robot_1">
    <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server"
          output="screen">
      <remap from="waterplus/get_waypoint_name" to="/waterplus/get_waypoint_name"/>
    </node>
  </group>
  <group ns="robot_2">
    <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server"
          output="screen">
      <remap from="waterplus/get_waypoint_name" to="/waterplus/get_waypoint_name"/>
    </node>
  </group>
  <group ns="robot_3">
    <node pkg="waterplus_map_tools" type="wp_navi_server" name="wp_navi_server"
          output="screen">
      <remap from="waterplus/get_waypoint_name" to="/waterplus/get_waypoint_name"/>
    </node>
  </group>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find warehouse_qmix)/rviz/four_robots_nav.rviz"
        output="screen"/>

  <!-- restock:=false → 取完不补，完成后打印统计 -->
  <node name="cargo_manager" pkg="warehouse_qmix" type="cargo_manager.py"
        output="screen">
    <param name="restock" value="false"/>
  </node>

  <node name="robot_agent_0" pkg="warehouse_qmix" type="robot_agent.py"
        output="screen" launch-prefix="bash -c 'sleep 10; $0 $@'">
    <param name="robot_id" value="0"/>
  </node>
  <node name="robot_agent_1" pkg="warehouse_qmix" type="robot_agent.py"
        output="screen" launch-prefix="bash -c 'sleep 10; $0 $@'">
    <param name="robot_id" value="1"/>
  </node>
  <node name="robot_agent_2" pkg="warehouse_qmix" type="robot_agent.py"
        output="screen" launch-prefix="bash -c 'sleep 10; $0 $@'">
    <param name="robot_id" value="2"/>
  </node>
  <node name="robot_agent_3" pkg="warehouse_qmix" type="robot_agent.py"
        output="screen" launch-prefix="bash -c 'sleep 10; $0 $@'">
    <param name="robot_id" value="3"/>
  </node>

</launch>
